tribute
media
downloads
MediaCover
cache
Library
state
backups
Backups
xdg
environment_variables


*.torrent
*.bak
*.txt
state-*
*.pid
*.lock
*.log
*.mkv
*.mp4
*.db
*.db*
.htpasswd
docker/config/nginx/conf.d/default.conf
.bash*
docker/config/nzbget/scripts/__pycache__/
docker/config/plexpy/logs/
